.leaflet-container{
    width: 100%;
    height: 300px;
}
.flexlocation{
    display: flex;
    gap: 2rem;
}
.geolocalizacionflex{
    display: flex;
    gap: 2rem;
}
.btnLocation{
    margin: 2rem;
    width: 10rem  !important;
    height: 30px;
}